body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #120727;
 
 
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    text-align: center;
    
}

h1{
    text-align: center;
    color: #120727;
    font-size: 40px;
}

input[type="text"], input[type="password"]{
    font-size: 20px;
    width: 80%;
    margin-top:10px ;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
}
.incon{
    min-width: 50px;
    text-align: center;
    margin: 5px 0px;
    padding: 5px;
}
.button{
    border: none;
    width: 60%;
    font-size: 20px;
    background-color: #CADE01 ;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

}

.button:hover{
    background-color: #6924A5;
}

p{
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color: #120727;
}
.link:hover{
    color: #6924A5;
}
.contendor{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.formulario{
    width: 380px;
    height: 500px;
    margin: auto;
    border-radius: 5px;
   
    background-color: #FFFFFF;
}
.formulario .portada{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.formulario .portada img{
    width: 100px;
    height: 100px;
}

/* header */
.header{
    width: 100%;
    background-color: #CADE01 ;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


.header .menu{
    display: none;
}
.header >i{
    width: 10px;
    height: 10px;
}

.header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
.header .li{
    margin: 10px;
}



h2{
    width: 40%;
    padding-left: 60px;

    }

.ul .li a{
    width: 20%;
    margin-left: 10px;
    text-decoration: none;
    color: #120727;
    font-size: 20px;

}

.inicio a:hover{
    color: #6924A5;
}
.input-contenedor{
    transition: all ease-in-out .5s;
}
  

@media screen and (max-width: 527px) {

    .header .menu {
     display: block;
    cursor: pointer;
    margin-right: 20px;
    }
        
    header .inicio{
        width: 100%;
         height: 0;
        overflow: hidden;
        display: flex;
        transition: all .5s ease;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
            

            
    }
   
    .header .inicio.open{
        display: block;
        height: 200px;
    }
    .header .ul{
            width: 90%;
            flex-direction: column;
            text-align: center;
            
    }
    
    .header .li{
        width: 100%;
        padding: 10px;
        margin: 10px;
        background-color: #120727;
        color: #FFFFFF;
        font-size: 20px;
        border-radius: 10px;
    }
    .header .li:hover{
        background-color: #6924a5a8;
    }
    .header h2{
        text-align: center;
        padding-left: 10px;
    }

       
        
}